
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome on Index method</title>
</head>
<body class="container">
    <script src="~/lib/jquery/jquery.js"></script>
    <link href="~/css/style1.css" rel="stylesheet" />
    <img src="~/images/imeges4.jpg" class="image" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <button class="btn-danger"></button>
    <h1 class="h1">Welcome to Book Store Application</h1>

</body>
</html>

